<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.fyppowerbandv002"
android:versionCode="1"
android:versionName="1.0">
<!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
    android:configChanges="keyboardHidden|orientation"
    android:icon="@mipmap/ic_launcher"
    android:label="PowerBand">

    <activity
        android:name=".MainScreenActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity> <!-- All Product Activity -->
    <activity
        android:name=".create_user"
        android:label="Create user "></activity>
    <activity
        android:name=".send_notification"
        android:label="Send notification"></activity>
    <activity
        android:name=".devtools"
        android:label="Development tools"></activity>
    <activity
        android:name=".delete_user"
        android:label="Delete user "></activity>
</application>

</manifest>